//! **************************************************************************
// Written by: Map J.37 on Sun Jul 29 20:59:33 2007
//! **************************************************************************

SCHEMATIC START;
COMP "lcd_e" LOCATE = SITE "N2" LEVEL 1;
COMP "ps2_data1" LOCATE = SITE "C2" LEVEL 1;
COMP "cf_iord" LOCATE = SITE "F4" LEVEL 1;
COMP "cf_iowr" LOCATE = SITE "F5" LEVEL 1;
COMP "fpga_b<0>" LOCATE = SITE "M16" LEVEL 1;
COMP "fpga_b<1>" LOCATE = SITE "M15" LEVEL 1;
COMP "fpga_b<2>" LOCATE = SITE "M14" LEVEL 1;
COMP "fpga_g<0>" LOCATE = SITE "N16" LEVEL 1;
COMP "fpga_g<1>" LOCATE = SITE "M13" LEVEL 1;
COMP "fpga_g<2>" LOCATE = SITE "L13" LEVEL 1;
COMP "fpga_r<0>" LOCATE = SITE "P16" LEVEL 1;
COMP "fpga_r<1>" LOCATE = SITE "N14" LEVEL 1;
COMP "fpga_r<2>" LOCATE = SITE "N15" LEVEL 1;
COMP "utmi_clkout" LOCATE = SITE "D9" LEVEL 1;
COMP "cf_we" LOCATE = SITE "D8" LEVEL 1;
COMP "ram_cen" LOCATE = SITE "M2" LEVEL 1;
COMP "utmi_databus16_8" LOCATE = SITE "B14" LEVEL 1;
COMP "ram_oen" LOCATE = SITE "K16" LEVEL 1;
COMP "ram_wen" LOCATE = SITE "G1" LEVEL 1;
COMP "hsync_b" LOCATE = SITE "J13" LEVEL 1;
COMP "ram_a<10>" LOCATE = SITE "F2" LEVEL 1;
COMP "ram_a<11>" LOCATE = SITE "F3" LEVEL 1;
COMP "ram_a<12>" LOCATE = SITE "E1" LEVEL 1;
COMP "ram_a<20>" LOCATE = SITE "G3" LEVEL 1;
COMP "ram_a<13>" LOCATE = SITE "E2" LEVEL 1;
COMP "ram_a<14>" LOCATE = SITE "E3" LEVEL 1;
COMP "ram_a<15>" LOCATE = SITE "D1" LEVEL 1;
COMP "ram_a<16>" LOCATE = SITE "D2" LEVEL 1;
COMP "ram_a<17>" LOCATE = SITE "B16" LEVEL 1;
COMP "ram_a<18>" LOCATE = SITE "H4" LEVEL 1;
COMP "ram_a<19>" LOCATE = SITE "H3" LEVEL 1;
COMP "ram_io<0>" LOCATE = SITE "H15" LEVEL 1;
COMP "ram_io<1>" LOCATE = SITE "H14" LEVEL 1;
COMP "ram_io<2>" LOCATE = SITE "G16" LEVEL 1;
COMP "ram_io<3>" LOCATE = SITE "G14" LEVEL 1;
COMP "ram_io<4>" LOCATE = SITE "F14" LEVEL 1;
COMP "ram_io<5>" LOCATE = SITE "E15" LEVEL 1;
COMP "ram_io<6>" LOCATE = SITE "D16" LEVEL 1;
COMP "ram_io<7>" LOCATE = SITE "E13" LEVEL 1;
COMP "ram_io<8>" LOCATE = SITE "H16" LEVEL 1;
COMP "ram_io<9>" LOCATE = SITE "H13" LEVEL 1;
COMP "vsync_b" LOCATE = SITE "R1" LEVEL 1;
COMP "aud_out<1>" LOCATE = SITE "D10" LEVEL 1;
COMP "aud_out<2>" LOCATE = SITE "E10" LEVEL 1;
COMP "aud_out<3>" LOCATE = SITE "D11" LEVEL 1;
COMP "aud_out<4>" LOCATE = SITE "D12" LEVEL 1;
COMP "joy_right" LOCATE = SITE "R13" LEVEL 1;
COMP "lcd_rs" LOCATE = SITE "P1" LEVEL 1;
COMP "lcd_rw" LOCATE = SITE "N3" LEVEL 1;
COMP "lcd_d<0>" LOCATE = SITE "N1" LEVEL 1;
COMP "lcd_d<1>" LOCATE = SITE "L5" LEVEL 1;
COMP "lcd_d<2>" LOCATE = SITE "L4" LEVEL 1;
COMP "lcd_d<3>" LOCATE = SITE "M1" LEVEL 1;
COMP "cf_cs0" LOCATE = SITE "D7" LEVEL 1;
COMP "cf_cs1" LOCATE = SITE "D5" LEVEL 1;
COMP "led<0>" LOCATE = SITE "T13" LEVEL 1;
COMP "led<1>" LOCATE = SITE "R12" LEVEL 1;
COMP "led<2>" LOCATE = SITE "T12" LEVEL 1;
COMP "led<3>" LOCATE = SITE "R11" LEVEL 1;
COMP "ps2_clk1" LOCATE = SITE "C1" LEVEL 1;
COMP "fpga_cts" LOCATE = SITE "K12" LEVEL 1;
COMP "fpga_rxd" LOCATE = SITE "L12" LEVEL 1;
COMP "fpga_rts" LOCATE = SITE "E11" LEVEL 1;
COMP "fpga_txd" LOCATE = SITE "J14" LEVEL 1;
COMP "mm_led" LOCATE = SITE "N6" LEVEL 1;
COMP "joy_up" LOCATE = SITE "P14" LEVEL 1;
COMP "ram_a<0>" LOCATE = SITE "D14" LEVEL 1;
COMP "ram_a<1>" LOCATE = SITE "K15" LEVEL 1;
COMP "ram_a<2>" LOCATE = SITE "M3" LEVEL 1;
COMP "ram_a<3>" LOCATE = SITE "L2" LEVEL 1;
COMP "ram_a<4>" LOCATE = SITE "L3" LEVEL 1;
COMP "ram_a<5>" LOCATE = SITE "K1" LEVEL 1;
COMP "ram_a<6>" LOCATE = SITE "K2" LEVEL 1;
COMP "ram_a<7>" LOCATE = SITE "J2" LEVEL 1;
COMP "ram_a<8>" LOCATE = SITE "J1" LEVEL 1;
COMP "ram_a<9>" LOCATE = SITE "G4" LEVEL 1;
COMP "ram_bhen" LOCATE = SITE "L14" LEVEL 1;
COMP "ram_blen" LOCATE = SITE "L15" LEVEL 1;
COMP "joy_fire" LOCATE = SITE "T14" LEVEL 1;
COMP "joy_left" LOCATE = SITE "K13" LEVEL 1;
COMP "joy_down" LOCATE = SITE "P15" LEVEL 1;
COMP "reset_sw" LOCATE = SITE "R16" LEVEL 1;
COMP "ram_io<10>" LOCATE = SITE "G15" LEVEL 1;
COMP "ram_io<11>" LOCATE = SITE "F15" LEVEL 1;
COMP "ram_io<12>" LOCATE = SITE "E16" LEVEL 1;
COMP "ram_io<13>" LOCATE = SITE "E14" LEVEL 1;
COMP "ram_io<14>" LOCATE = SITE "D15" LEVEL 1;
COMP "ram_io<15>" LOCATE = SITE "C16" LEVEL 1;
SCHEMATIC END;
